/* global fonts */
@theme {
  --font-primaryFont: var(--titleFont);
  --font-secondaryFont: var(--secondaryFont);
}
/* Animation */
@layer {
  .element {
    transition: all 0.3s ease-in-out;
  }
  .element:hover {
    transform: scale(1.1) rotate(0deg) translate(0px, -5px) skewX(0deg);
  }
}